@page "/"
@using QRGen.Components
@using QRGen.Services
@inject IHostnameProvider HostnameProvider

<PageTitle>@(HostnameProvider.Hostname) | Generate a new QR Code</PageTitle>
<div class="d-flex justify-content-center">
    <QRForm />
</div>