@using QRGen.Services
@inherits LayoutComponentBase
@inject IHostnameProvider HostnameProvider
<div class="page">
    <main>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-qrcode"></i>
                    @(HostnameProvider.Hostname)
                </a>
            </div>
        </nav>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>